<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PersonsDb"
         connectionString="Server=localhost;
         Username=postgres;
         Password=postgres;
         Database=PersonCodeFirst;" providerName="Npgsql" />
    <add name="UsersDb"
         connectionString="Server=localhost;
         Username=postgres;
         Password=postgres;
         Database=UserCodeFirst;" providerName="Npgsql" />
  </connectionStrings>
</configuration>