
@{
    ViewData["Title"] = "DVD Rental Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DVD Rental Store</h1>
<p>Menu:</p>
<br />
@Html.ActionLink("Home", "Index", "Home")
<br />
@Html.ActionLink("Register", "Index", "Register")
<br />
@Html.ActionLink("User's Login", "Index", "Login")
<br />
@Html.ActionLink("Admin Login", "Index", "AdminLogin")

