
@{
    ViewData["Title"] = "DVD Rental Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DVD Rental Store</h1>
<h3>Menu:</h3>
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Register", "Index", "Register")</li>
    <li>@Html.ActionLink("User's Login", "Index", "UserSignIn")</li>
    <li>@Html.ActionLink("Admin Login", "AdminSignIn", "AdminSignIn")</li>
</ul>

