@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Dashboard</h1>
<p>
    Login was successed, @ViewBag.username
</p>

<p>
    @Html.ActionLink("Rent movie", "Rent", "Login");
</p>


