@model DVDRentalStore.Models.ClientsModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User's Login</h1>
<form asp-action="Index">
    <input asp-for="FirstName" />
    <br />
    <input asp-for="LastName" />
    <br />
    <input type="submit" value="Sign in" />
</form>
