@model EmployeesModel

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var employee = ViewData["Employee"] as EmployeesModel;
}

<h2>Administrator dashboard</h2>
<p>Welcome @employee?.FirstName </p>
<p>@Html.ActionLink("List of Clients", "ListOfClients", "AdminLogin")</p>