@model DVDRentalStore.Models.MoviesModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Movie</h2>
<form asp-action="EditMovie">
    <label>Movie Id</label>
    <br />
    <input asp-for="MovieId" />
    <br />
    <label>Title</label>
    <br />
    <input asp-for="Title" />
    <br />
    <label>Year</label>
    <br />
    <input asp-for="Year" />
    <br />
    <label>Price</label>
    <br />
    <input asp-for="Price" />
    <br />
    <label>Age Restriction</label>
    <br />
    <input asp-for="AgeRestriction" />
    <br />
    <input type="submit" value="Save" />
    <br />
</form>