@model DVDRentalStore.Models.ClientsModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<p>
    Welcome
    @Html.DisplayFor(modelItem => Model.FirstName),
    @Html.DisplayFor(modelItem => Model.LastName)
</p>
<p>@Html.ActionLink("Rent Movie", "Rent", "Client", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("View rental history", "ClientRentalHistory", "Client", new { id = Model.ClientId })</p>

